/* @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow:wght@300&family=Bitter&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
button{
    border-radius: 0px !important;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
}
.btn-primary:focus{
    background-color: #fff;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important; 
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: #14684e !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: #14684e !important;
}
/* ------------ header------------------ */
.headerlogo{
    width: 218px;
    height: auto;
    margin-right: 14px;
} 
.navbar{
    box-shadow: 0 0 5px 0 rgba(0 0 0/10%);
}

 .navbarcontainer{
    box-shadow: 4px 1px 6px 0px #c5f1df; 
 }
 .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: transparent !important;
}
.error{
    color: red;
}

.navlink{
    margin: 13px;
}
.navmenu{
    font-weight: 500;
    color: #333333;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
.navmenu:hover{
    color: #333333;
    font-size: 14px;
    border-bottom: 2px solid #07543c;
  
}
.navmenubutton .loginBtn{
    border-radius: 0px;
    color:white;
    font-weight: bold;
    font-size: 14px;
    background-color: #07543c;
    border-color: #07543c;
}
.navmenubutton .loginBtn:hover{
    color:#07543c;
    font-weight: bold;
    font-size: 14px;
    background-color:#fff;
    border-color: #07543c;
}
.navmenubutton .signupBtn{
    border-radius: 0px;
    color:#07543c;
    font-weight: bold;
    font-size: 14px;
    border-color: #07543c;
}
.navmenubutton .signupBtn:hover{
    color:white;
    font-weight: bold;
    font-size: 14px;
    background-color: #07543c;
}


.loginBtn{
    margin: 13px;
    margin-right: 4px; 
    width: 105px;
}
.Login_form h4{
    color:#07543c;
}
.signupBtn{
    margin: 13px;
    margin-left: 8px;
    width: 105px; 
}
.navbarBrand{
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ----------------------footer----------------- */
.footer_logo{
    margin-left: -6px;
   width: 50%;
   height: auto;
}
.footerlogocontainer{
    margin-top: 20px;
 
}
.footer_content{
    font-size: 14px;
    text-align: justify;   
}
.footersec{
    background: #08241c;
    /* background: #032C20; */
    color: #fff;
}
.footercol2 p {
    font-size: 14px;
}
.footerProduct{
    display: flex;
    justify-content: center;
}

.footericon{
    font-size: 12px;
    margin-right: 6px;
    color: #28f39e;
    
}
.footercompanylist{
    list-style: none;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footercompanylist li{
    padding: 3px
}
.footercompanylist li a{
    text-decoration: none;
    color: #fff;
}
.footercompanylist li a:hover{
    text-decoration: underline;
    color: #28f39e;
}

.companyHeading{
    font-size: 14px;
    text-transform: uppercase;
}
.socialicon{
    /* margin-left: 4%; */
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: initial;
    font-size: 32px;
    padding: 0px 0px 0px 0px; 
  
}
.socialicon li{
    margin-right: 12px;
    color: #004C4D;
    font-size: 25px;
}
.socialicon li a{
    color: #28f39e;
}
.socialicon li a:hover{
    color: #fff;
}
.socialtext{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;  
    padding: 0px 0px 0px 0px; 
    margin-top: 20px;
    
}
.socialtext li {
    margin-left: 12px;
}
.termpolicy{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}

/*------------- media query for footer------------ */
 
/* ----------------------------------header----------------------------------- */
.homeheader{
    background-image: url(../image/banner2.png);
    height: 527px;
    width: 100%;
}
.homesectionImg{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
}
.homeImg{
    object-fit: cover;
    height: 447px;
    width: 447px;
    border: solid 14px white;
    border-radius: 50%;
     
}
.homecontent{
    height: 529px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.homeline{
    height: 7px;
    width: 420px;
    background-color:#57D6A1;
}
.homebutton {
    padding: 7px 20px !important;
    font-weight: bold !important;
    margin-top: 17px;
    background-color:#07543c !important ;
    border-color:#07543c !important ;
}
.tablebutton{
    /* padding: 7px 20px !important; */
    font-weight: bold !important;
    margin-top: 17px;
    background-color:#07543c !important ;
    border-color:#07543c !important ;
}
.homebutton:hover{
    color:#07543c !important;
    background-color: #fff !important;
    border-color: #07543c !important;
}

.messagebtn{
    background-color:#07543c !important ;
    border-color:#07543c !important ;  
    
}
.messagebtn:hover{
    box-shadow: 0 0 10px 0 #479569
}
.messagebtn:focus{
    box-shadow: none !important;
}
.signBtn {
    /* padding: 7px 20px !important; */
    font-weight: bold !important;
    /* margin-top: 17px; */
    background-color:#07543c !important ;
    border-color:#07543c !important ;
} 
/* ------------------------Modul------------------------- */
.modul_header{
 margin-top: 29px;
}
.modul_text{
    font-size: 16px;
    color: gray;
    margin-top: 15px;
    padding: 30px 0 30px 0;
}
.account_feature{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 102px 0px 102px;
    flex-direction: row;
    justify-content: center;
    
}
.account_feature li{
    width: 200px;
    /* flex: 0 0 25%; */
    padding: 14px;
    font-size: 14px; 
}
.module{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
}
.modul_check{
    color:#07543c;
    font-size: 20px;
    margin-right: 12px;
}
.smartmodule_img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 27px;
}
.disputeimage{
    width: 450px;
    height: auto;
    /* box-shadow: 5px 10px 18px #88888880;     */
}
.item_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 27px;
    text-align: justify;
}
.item_text{
    color: gray;
    font-size: 14px;
}

.item_text_item_reverse{
     text-align: justify;  
}
.item_reverse{
  text-align: center;
}



/*--------------------- creditscore------------- */
.creditscore_main{
    text-align: center;
    margin-top: 40px;   
}

.creditscore_text{
    font-size: 14px;
}
.creditscore_card{
    text-align: center;
    background-color:#a8d8da ;
    margin-top: 23px; 
    padding: 9px;
    border: none;
}


.credirscore_card_count{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color:#07543c;
    background-color:white ;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 3px 0px #88888880;
}
.card_text{
  text-align: justify;  
  color:  #0c4b4c;
  font-size: 14px;

}
.card:hover{
    box-shadow: 0 0 10px 0 rgba(0 0 0/20%) !important;   
}

/*-------- smartmodule------------ */
.smart_item_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding: 27px;    
}
.smart_item_text{
    text-align: justify;
    color: gray;   
    font-size: 14px;
}

/*---------------- contactus------------ */
.contact_section{
    padding: 50px;
}
.contact_box1{
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    padding-left: 16px;
    color: #fff;
}
.contact_box1 .bb1{
    background: #fff;
    height: 2px;
    width: 190px;
    margin-left: -17px;
}
.contact_box1 .bb2{
    background: #fff;
    width: 115px;
    height: 2px;
    margin: 5px 0px 0px -94px;
}
.contact_box .bb1{
    background: #004C4D;
    height: 2px;
    width: 190px;
    margin-left: 26px;
}
.contact_box .bb2{
    background: #004C4D;
    width: 115px;
    height: 2px;
    margin: 5px 0px 0px 26px;
}
.contactus_form{
    padding: 24px;
}
.contactus_heading{
    margin-left: 24px;
    color: #004C4D;
}
.contact_img{
    width: 100%;
    height: 449px;
    box-shadow: 0 0 10px 0 rgba(0 0 0/10%);
    /* background-image:linear-gradient(-45deg, rgb(39 143 97), rgb(77 94 82 / 80%)), url("https://assets.weforum.org/article/image/Mc7YHdK48O0Ee2NYRrKPdy11cfWuqlol8oN8aRG_9jM.JPG"); */
    background-image:linear-gradient(rgba(0, 0 , 0, 0.6),rgba(0,0, 0,0.6),rgba(0, 0 , 0, 0.6)), url("https://assets.weforum.org/article/image/Mc7YHdK48O0Ee2NYRrKPdy11cfWuqlol8oN8aRG_9jM.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 20px;
}
.contact_box{
    padding: 20px;
    background-color:#f7f7F7;
    box-shadow: 0 0 10px 0 rgba(0 0 0/10%);
}
.address_box, .mail_box, .phone_box{
    display: flex;
}
.address .fw-4, .mail .fw-4, .phone .fw-4{
    font-weight: normal;
    font-size: 15px;
}
.address p, .mail p, .phone p{
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 500;
}
.address, .mail, .phone{
    padding: 8px;
}
.steetview, .mail_icon, .phone_icon{
    /* border-radius: 50%; */
    color: #28f39e;
    padding: 8px;
    font-size: 20px;
    margin: 12px;
    background: transparent;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
}
.messagebtn{
    padding: 6px 30px;
    font-weight: 500;
}

/*---------------- How it work---------- */
.how_it_work_head{
    height: 527px;
    width: 100%;
    background-image: url(../image/web-bg1.png)
}

.how_it_work_head_img{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
}
.work_head_content{
    height: 529px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.work_head_content h1{
    color: #07543c
}
.work_head_content p{
     text-align: center;
}
.girlImg{
    height: 439px;
    width: 439px;
    border: solid 14px white;
    border-radius: 50%;
}

.work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 332px;
    padding: 39px;  
}
.work_main{
 margin-top: 12px;
}
.work_heading{
    margin-top: 17px;
    color: #07543c;
}
.work_content{
    text-align:justify;
    color: gray;
}
.work_count{
    font-weight: 500;
    color: #07543c;
    height: 40px;
    width: 40px;
    background-color: #57d6a1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
/*---------------------- Pricing------------------------- */
.pricing_hero{
    height: 527px;
    width: 100%;
    background-image: linear-gradient( #57d6a1, white); 
}
.pricing_hero_content{
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
    height: 527px;
    width: 100%;   
} 
.pricing_hero_content h1{
    color: #07543c;
}
.pricing_hero_content p{
    text-align: justify;
    width: 695px;
}

.letterImg{
   height: auto;
   width: 100%;
}
.pricing_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 374px;
}
.pricing_content h3{
    color: #07543c;
}
.pricing_content p{
     color: gray;
}
.pricing_sec2_header{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
.pricing_sec2_header h3{
    color: #07543c;
}

.sec2_content{
   text-align: center;
   font-size: 15px;
   color: gray;
 
}
.sec2_table{
/* box-shadow: 5px 10px 18px #88888880; */
}
.sec2_table thead tr th {
    padding: 19px;
}
.sec2_table tbody tr td {
    padding: 19px;
}
.tablebutton{
    width: 127px;
}

.table_count{
    background-color:#a8d8da ;
}
.sec2_button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.basiccard{
    display: flex;
    justify-content: flex-end;
    color: #004C4D
    ;
}

.pricing_plan{
   width: 310px;
    /* box-shadow: 5px 10px 18px #88888880; */
    border: 1px solid ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 11px;
   /* For browsers that do not support gradients */
    /* background-image: linear-gradient(#caebed, white); */
}
.pricing_plan h5{
    margin-top: 10px;
}
.pricing_plan hr {
    margin-top: -1px;
    /* height: 3px; */
    width: 98%;
    /* background-color:#a8d8da;     */
}
.pricing_plan  line p{
    font-size: 14px;
    margin-top: 10px;     
}
.subprice{
    line-height: 12px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}
.price{
    font-weight: bold;
}
.subprice .cancleText{
    font-size: 14px;
}
.pricing_plan ul{
    font-size: 14px;
}
.pricing_plan ul li {
list-style: none;
}
.pricing_plan .ml-24{
    margin-left: -24px;
}

.checkicon{
    margin-right: 10px;
    color: #07543c;
    font-size: 17px;
}
.cardtext{
    font-size: 14px;
}

.basicprimimum{
    display: flex;
    justify-content: flex-start;
    color: #004C4D;
}
/*----------------- signup ----------------- */
.singupform{
    background-color:#57d6a1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("https://wallpaperaccess.com/full/1657858.jpg"); 
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    /* color: #004C4D; */
    color: #fff;
}
.formcontainer{
     box-shadow: 5px 10px 18px #88888880; 
}

.progressbar{
    height: 12px;
    width: 100%;
    background-color: blue;
}
.sigup_form{
    height: 100%;
    display: flex;
    /* padding: 30px; */
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: #f7f7F7;
}
.signBtn{
    width: 113px;
}
.checkbox{
    display: flex;
}
.checkbox p{
    margin-left: 9px;
    padding-top: 15px;
}
.checkbox p a{
    color: #07543c;
}
.createaccount{
    padding: 12px;
}
.MuiStepLabel-label{
    font-size: 13px !important;
}
/* Creditreport */
.creditreportmain{
    
    padding: 19px ;
    border: 1px solid #dddbdb;
    
}

.creditReport_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.creditReport_content h4{
    font-size:21px;
}
.creditReport_content p {
    font-size: 14px;
}
.creditReport_sub_head{
    text-align: center;
    margin-top: 30px;
    /* color:#4f9b9f ;    */
}
.creditReport_sub_head h4{
    font-size: 21px;
}
.pricing_plan h4{
    font-size:21px; 
}
.pricing_plan .cancleText{
    font-size: 14px;
   
}
.pricing_plan ul li{
    font-size: 13px;
    font-weight: 500;
}
.pricing_plan .ml-27{
    margin-left: -27px;
}
.pricing_plan h3{
    font-size: 20px;
}
.pricing_plan .para{
    font-size: 15px;
}
/*------------ login form----- */
.login_section{
    margin-top: 40px;
    margin-bottom:40px;
}
.mainform{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    background-color: #f7f7F7;
   
}
.Login_form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
    width: 100%;
    padding: 49px;
  
    /* box-shadow: 5px 10px 18px #88888880;    */
}
.forgotpwd{
    color:#07543c;
    font-size: 14px;
}
.forgotpwd:hover{
    color:#07543c;
    font-size: 14px;
}
.fromlabel{
   align-self: flex-start;
}

/*------------- verifyreport----------- */
.personaldeatails{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border:1px solid gray ; */
    padding: 10px;
}

.creditReport_content h3{
    color:#14684e;
    font-size: 23px;
}

.verify_pricing_plan {
    height: auto;
    width: 350px;
    margin: 49px;
    box-shadow: 0px 0px 1px 0px #88888880;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 35px;
    background-color: #caebed;
    background-image:  linear-gradient(#71f3bf, #cffbe9);
}
.verify_pricing_plan .ml-24{
    margin-left: -24px;
}
.verify_pricing_plan h4{
    font-size: 21px;
}
.verify_pricing_plan ul li{
    list-style: none;
    font-size: 13px;
    font-weight: 500;
}
.verify_pricing_plan h3{
    font-size: 20px;
}
.verify_pricing_plan .cancleText{
    font-size: 14px;
    
}
.verify_pricing_plan .para{
    font-size: 15px;
}
.verify_pricing_plan hr {
    margin-top: -1px;
    /* height: 3px; */
    width: 98%;
    /* background-color:#a8d8da;     */
}
.verifybutton{
    display: flex;
    justify-content: flex-end;
}
.Identity{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    /* width: 423px; */
}
.acctivate_msg{
    width: 703px;
    text-align: center;
    margin-top: 16px;
}
.activateBtn{
    background-color:#caebed ;
    width: 308px;
    border: none;
}
.activate_content{
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 39px;
}
.activate_content h3{
    font-size: 21px;
}
.activate_content h4{
    font-size: 18px;
}
.unlink {
    font-size: 15px;
    margin-top: 23px;
    color:#14684e;
    font-weight: bold;
}
.activate_content hr{
     width: 30px;
     color: black;
     width: 332px;

}
.usericon{
    font-size: 42px;
    margin: 5px;
    color:#14684e;
}
.userHome{
    display: flex;
    align-items: center;
    justify-content: center;   
}
.usename_modal h5{
   font-size: 18px;
   text-align: center;
}
.usename_modal{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.usename_modal_btn{
    width: 167px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.usename_modal1_btn{
    width: 250px;
    margin-top: 12px;
    background: #07543c !important;
    border: none !important;
}

.usename_modal h6{
    font-size: 13px;
 }
.graph{
   position: relative;
  text-align: center;
 
}
.centered {
    position: absolute;
    top: 50%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 9px;
}

.transunion{
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.experian{
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.equifax{
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.experian p{
    text-align: center;
    margin-bottom: 20px;
}
.graph h1 {
    font-size: 20px;
    margin-bottom: 20px;
}
.sec_provider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sec_provider h1{
    margin: 0;
    font-size: 20px;
    color: #4a4a4a;
    font-weight: normal;
}
.section__content {
    padding: 19px 0px 19px 0px;
}
.table--provider {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
}
.table--provider td label {
    color: #c2c2c2;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
}
.creditItems_sectionContent_heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; 
}
.creditItems_sectionContent_heading h1{
    margin: 0;
    font-size: 20px;
    color: #4a4a4a;
    font-weight: normal;
}
.creditItems_sectionContent{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.creditItems_sectionContent button , .disputeletter_btn button{
    font-size: 14px;
    background: #07543c;
    border: none;
    display: flex;
    margin-left: auto;
    font-weight: 600;
}
.creditItems_sectionContent button:hover, .creditItems_sectionContent button:focus{
    
    background: #07543c !important;
    border: none;
   
}
.disputeletter_btn button:hover, .disputeletter_btn button:focus{
    
    background: #07543c !important;
    border: none;
   
}
.creditItems_sectionContent ul{
    border: none;
    margin-left: auto;
}
.creditItems_sectionContent ul li a{
     font-weight: bold;
}

.creditItems_sectionContent ul li a:hover{
    border-color:#fff !important;
    font-weight: bold !important;
    color:#14684e!important;
    border-bottom: 4px solid #14684e !important;
}
.creditItems_sectionContent ul li a{
    border-color:#fff !important;
    font-weight: bold !important;
    color:#14684e !important;
    border-bottom: 4px solid white !important;
}
.creditItems_sectionContent ul li a.active{
    border-color:#fff !important;
    font-weight: bold !important;
    color:#14684e!important;
    border-bottom: 4px solid #14684e !important;
}
.crditItemtable{
    padding: 5px 0px 0px 0px;
}
.personal_offer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;   
}

.personal_offer h1{
    margin: 0;
    font-size: 20px;
    color: #4a4a4a;
    font-weight: normal;
}
.myaccount{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.myaccount h1{
    margin: 0;
    font-size: 20px;
    color: #4a4a4a;
    font-weight: normal;
}
.personaloffer_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
.cardimg{
    /* height: 176px;
    width: auto; */
    width: 300px;
}
.personaloffer_card h3{
    color: #14684e;
    font-size: 20px;
    margin-top: 16px;
}
.myaccount_user{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    height: 100%;
}
.myaccount_user ul li{
    padding: 8px 0px 8px 0px;
    list-style: circle;
}
.username{
    font-size: 20px;
    list-style: none !important;
}

.Basic{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 39px;
}

/*----------------------- CreditItem-------------------- --------*/

.filters{
    display: flex;
    align-items: center;
    flex-direction: row; 
    /* justify-content: center; */
}
.filters p {
    font-weight: bold;
    color: #4a4a4a;
    text-transform: uppercase;  
}
.accountStatus{
    border-bottom: 1px solid #e1e1e1;
}
.accountStatus ul, .Dispute_Status ul{
    padding-left: 10px;
}
.accountStatus ul li{
    list-style: none;
}
.Dispute_Status{
 margin-top: 12px;
}
.accordianspan{
background-color: #e1e1e1;
height: 31px;
width: 31px;
border-radius: 52%;
font-size: 16px;
padding: 6px;
margin: 6px;
display: flex;
align-items: center;
justify-content: center;
}
.accountStatus p{
    color: #c2c2c2;
}
.Dispute_Status p{
    color: #c2c2c2;
}
.Dispute_Status ul li{
    list-style: none;
}
/*------------- -------DisputeLetter--------- */
.disputeletter_btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*---------------------- History----------------- */
.histroy_title h1{
    margin: 0;
    font-size: 20px;
    color: #4a4a4a;
    font-weight: normal;
}
.history_sec2_titile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px 0px 60px;
    margin-top: 19px;
}
.history_sec2_img{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
  
}
.history_tabs{
    border: 1px solid #f5f3f3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px !important;
}
.history_tabs .nav-tabs{
    border-bottom: none !important;
} 
.history_tabs .nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-around;
}
.history_sec2_img button{
    background-color:#14684e ;
    border: none !important;
}
.history_sec2_img button:hover, .history_sec2_img button:focus{
    background-color:#14684e ;
    border: none !important;
}
.history_tabs .nav-tabs .nav-item.show .nav-link,.history_tabs .nav-tabs .nav-link.active {
    color: #14684e;
    font-weight: 500;
    background-color: #fff;
    border-color: #fff;
}
.history_tabs .nav-tabs .nav-link:focus, .history_tabs .nav-tabs .nav-link:hover {
    border-color: #fff;
   
}
.history_tabs .nav-tabs .nav-link {
   
    color: #7c7a7a;
}
.graphimg{
    height: auto;
    width: 994px;
   
}
.graph_content {
    position: absolute;
    /* top: 31%; */
    width: 31%;
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    padding: 31px;
}
.history_sec3_title h1{
    margin: 0;
    font-size: 20px;
    color: #4a4a4a;
    font-weight: normal;
}
.history_sec3_item{
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px  85px 0px 85px; */
    margin-top: 12px;
    text-align: center;
    /* border: 1px solid #80808038; */
   
}
.dropdown-menu{
    margin-left:-20px !important;
}

.profileDropdown .dropdown-toggle::after{
    border-right: none;
    border-left: none;
}
  
.profileDropdown .dropdown-menu{
    transform: translateX(-69px);
}
.terms_condition{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 57px;

}
.terms_condition h1{
    font-size: 27px;
}
  
.terms_condition p{
    text-align: justify;
    font-size: 15px;
    margin-top: 12px;
}

/*--------------- mydoc--------------- */
.photoid{
    margin: 12px;
    border: 1px solid #80808030;
    padding: 12px;
}
.photoid h1{
    font-size: 16px;
}
.triagel{
    font-size: 18px;
    color: yellow;
}
.photoid a{
    margin-left: 12px;
}
.attachfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    height: 180px;
}
.attachfile h1{
    font-size: 16px;
}
.attachfile span{
    margin-bottom: 12px;
}

#out {
    margin-top: 34px;
  }

/*---------------user profile_nav css--------------- */

  .profile_nav{
      display: flex;
      flex-direction: row;
      justify-content: space-between !important;
  }
  .bg_light{
      background-color: rgb(248 249 250);
  }
  .profile_nav .nav-link, .profile_nav .navbar-brand {
    color: #111;
}
.profile_nav .nav-link:hover, .profile_nav .navbar-brand:hover {
    color: rgba(0,0,0,.55);
}

.myaccount button{
    width: 100px;
    background: #14684e;
    border-color:#14684e ;
}
.myaccount button:focus, .myaccount button:hover{
    background: #14684e;
    border-color:#14684e;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #ffffff !important;
}
.footercol2 {
    display: flex ;
    justify-content: center;
}
.footer_text{
    padding: 20px 60px 20px 0px;
    font-size: 14px;
}
.footer_tag{
    font-size: 14px;
}

.spinner{
    height: 700px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*----------------------- media query of header section------------------------------------ */
@media (min-width:320px) and (max-width:554px){
    .navmenubutton .homebutton{
        
        font-size: 13px;
        
    }
    .homeheader{
       
        height: 540px;
        width: 100%;   
    }
  
    .homesectionImg{
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
     .homeImg{
        height: 279px;
        width: 279px;
        border: solid 14px white;
        border-radius: 50%;
    }
    .homecontent{
        height: 67px;
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }
    .hometitle{
        line-height: 33px;
        font-size: 17px;
     }
    .homeline{
        height: 9px;
        width: 225px;
        background-color: #333333;
    }
    .homebutton{
        width: 132px;
        padding: 8px;
        margin-top: 15px;
    }
    .headerlogo{
        width: 202px;
        height: auto;
        margin-right: 14px;
        }
   
    .disputeimage {
        width: 100%;
        height: auto;
        box-shadow: 5px 10px 18px #88888880;
        margin-top: -41px;
       
    }
    .ulimitedmodule{
        margin-top: 18px;
    }
    .creditscore_card{
        text-align: center;
        background-color:#a8d8da ;
        margin-top: 12px; 
        padding: 12px;
        border: none;
        /* margin: 36px;
        margin-top: 0px; */
        
    }
    .smart_item_content {
    
        padding: 5px;
    }
    .item_content{
        padding: 10px;
    }
    .smartmodule_img {
        padding: 4px;
    }
    .account_feature {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
    }
    .account_feature li {
        width: 139px;
        /* flex: 0 0 25%; */
        padding: 9px;
        font-size: 14px;
        text-align: center;
    }
    .footersec{
        padding: 15px;
    }
    .footer_text{
        padding:0px;
        font-size: 14px;
    }

    .footerlogocontainer {
        margin-top: 0px;
    }
    .footer_logo {
        width: 90%;
        height: auto;
    }
    .footercol2 {
        display: block ;
        
    }
   
    .footerProduct {
        display: block;
    }
    .footercompanylist {
        margin-left: -32px;
        list-style: none;
        font-size: 14px;
        display: block;
    }
    .work_head_content h1{
       font-size: 18px;
    }
  
    .work_head_content p{
        font-size: 18px;
    }

    /* .how_it_work_head{
        height: 700px;
        width: 100%;
        background-image: url(../image/web-bg.png)
    } */
.how_it_work_head_img{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.girlImg{
    height: 207px;
    width: 207px;
    border:none;
    border-radius: 50%;
    box-shadow: 5px 10px 18px #88888880;
}

.work_head_content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 23px;
    margin-top: 12px;
  
}
.work_head_content h1{
    font-size: 18px;
 }
 .work_head_content p{
    font-size: 14px;
 }
 .workimg1{
    padding: 33px;
 }
 .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 332px;
    padding: 39px;
 }
 .work_count{
    height: 48px;
    width: 48px;
    background-color: #a8d8da;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 32px;
 }
 .work_heading{
    text-align: center;
    font-size: 18px;
 }
 .work_content{
    font-size: 13px;
 }
 .curveimg{
     display: none;
 }
 .pricing_hero_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 414px;
    width: 100%;
 }
 .pricing_hero_content p {
    text-align: justify;
    font-size: 14px;
    width: 100%;
    padding-right: 34px;
    padding-left: 34px;
}
.pricing_hero_content h1{
    font-size: 24px;
}
.pricing_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 295px;
    padding: 33px;
}
.pricing_content h3{
    font-size: 24px;
}
.pricing_sec2_header h3{
    font-size: 24px;
    text-align: center;
} 
.pricing_plan .ml-15{
    margin-left: -15px;
}
.basiccard{
    margin-bottom: 12px;
    padding: 10px;
}
.basicprimimum {
    padding: 10px;
}
.pricing_sec2_header h3{
    font-size: 24px;
    text-align: center;
} 
.sec2_table {
    box-shadow: none;
}
.sec2_table thead tr th {
    padding: 19px;
}
.sec2_table tbody tr td {
    padding: 19px;
}
/* .creditreportmain{
    border: none;
} */
.creditReport_content{
    padding: 0px;
    text-align: center;
}
.creditReport_content p {
    font-size: 12px;
}
.pricing_plan{
    width: 100%;
}
.personaldeatails{
   padding: 5px;
}
.Basic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 12px;
    padding-left: 12px;
}
.verifybutton {
    display: flex;
    justify-content: center;
}
.Identity {
    padding: 5px;
}
.activateBtn{
    background-color:#caebed ;
    width: 100%;
    border: none;
}
.activate_content{
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
}
.acctivate_msg{
    width: 100%;
    text-align: center;
    margin-top: 16px;
}
.acctivate_msg h4{
    font-size: 16px;
}

.activate_content p{
   font-size: 14px;
   text-align: center;
}
.activate_content hr{
    width: 240px;
    color: black;

}
.activte_back_button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}
.activeaccount{
    margin-bottom: 16px;
}
.activateBtn{
    width: 236px;
}
.usename_modal1_btn{
    width: 100%;
    margin-top: 12px;
}
.usename_modal h6 {
    font-size: 13px;
    text-align: center;
}
.contactform_next{
    display: flex;
    align-items: center;
    justify-content: center;
}
.messagebtn{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.socialtext {
    display: flex;
    flex-wrap: wrap;
}
.login_section{
    margin-top: 0px;
    margin-bottom:0px;
}
.Login_form{
    padding: 0px 0px 10px 0px;
    
} 
.centered {
    /* display: none; */
    padding: 9px;
    width: 73%;
    position: absolute;
    top: 50%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    
}
.creditItems_sectionContent .nav {
    margin-top: 15px;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: nowrap;
}
.graph p, .graph button{
    font-size: 11px;
}
.profile_nav{
    display: flex;
    flex-direction: column;
    
}
.profile_nav .nav{
    display: flex;
    flex-wrap: nowrap;
}
.profile_nav .nav .nav-link{
    padding-left: 15px;
}
.graph_content {
    position: absolute;
    /* top: 5%; */
    width: 73%;
    text-align: center;
    font-size: 11px;
    background-color: #fff;
    padding: 8px;
}
.history_sec2_img button {
    font-size: 11px;
}
.graph img{
    height: 170px;
}
.creditreportmain{
    
    padding: 0px 0px 10px 0px;
  
    
}
.contact_section {
    padding: 10px;
}
.verify_pricing_plan {
    height: auto;
    width: auto;
    margin: 8px;
  
    padding: 7px 0px;
  
}
   
} 

@media (min-width:768px) and (max-width:1023px){
    .footer_text{
        padding:0px;
        font-size: 14px;
    }
    .footer_tag{
        font-size: 14px;
    }
    .footer_logo{
        width: 88%;
    }
    .contact_section {
        padding: 40px;
    }
    .homeline {
        height: 7px;
        width: 250px;
        /* background-color: #a8d8da; */
    }
    .homeImg {
        height: 354px;
        width: 354px;
        border: solid 14px white;
        border-radius: 50%;
    }
   
    .account_feature li {
        width: auto;
        /* flex: 0 0 25%; */
        padding: 12px 4px;
        font-size: 14px;
    }
.smartmodule_img {
        padding: 0px !important;
        margin-top: 80px;
    }
    .girlImg{
        height: 338px;
    }
    .Login_form{
        padding: 0px 40px 0px 40px;
        
    } 
    .centered {
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 50.5%;
        transform: translate(-50%, -50%);
        background: #fff;
       
        
    }
    .centered button{
        font-size:12px
    }
  
  
}

 @media screen and (max-width:374px){
    .basiccard .ml-15{
        margin-left: -13px;
    }
    .basicprimimum .ml-15{
        margin-left: -13px;
    }
    .basiccard.single{
        padding: 0px;
    }
    .basiccard.single .mlr-15{
        margin-left: -15px;
        
    }
 }

@media (min-width:320px) and (max-width:374px){

}
@media (min-width:375px) and (max-width:424px){
  
    .pricing_plan .ml-24 {
        margin-left: -35px;
    }
}
@media (min-width:768px) and (max-width:1025px){
    .verify_pricing_plan {
        height: auto;
        width: 315px;
        margin: 53px 0px;
        
        padding: 22px;
      
    }
}



@media (min-width:200px) and (max-width:319px){
    .pricing_hero_content p {
        width: auto;
    }
    
}

/* ==============payment details page css============= */
.payment-box .text-para{
    font-size: 17px;
    color: gray;
}
.payment-box{
    padding: 5px 20px 20px 20px;
}
.msg-box{
    color: #8f6464;
    font-size: 13px;
    background: #f4fcd8;
    padding: 10px;
}
.link{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.card-input .form-label{
    text-align: right;
}
.card-input .form-control:focus {
    border-color: #ced4da !important;
}
.check-para label{
    margin-left: 10px;
    font-size: 14px;
}
.membership-table{padding: 20px;}
.membership-table .heading{
    text-align: center;
    padding: 7px;
    background: #14684e;
    color: #fff;
}
.membership-table .heading p {
    margin-top: 0;
    margin-bottom: 0rem;
}
.membership-table table {
    font-size: 14px;
    caption-side: bottom;
    border-collapse: inherit;
    margin-bottom: 0rem;
}
.membership-table .table-bordered>:not(caption)>*>* {
    border-width: 0 0px;
}
.payment-btn{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.payment-btn {
    text-decoration: none;
}
.paymentBtn{
    background-color: #07543c !important;
    border-color:#07543c !important ;
    margin-top: 20px;
    margin-bottom: 30px;
   
}
.payment-price{
    font-weight: 600;
    color: #ef6a0f;
}
.product-term h5{
    color: gray;
}
.content .head{
    color: #0d8ae7;
    font-size: 13px;
}
.content{
    border: 1px solid rgb(212, 210, 210);
    height: 300px;
    overflow-y: scroll;
}
.content .head{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 7px;
}
.content .head p{
    margin-bottom: 0rem;
    
}
.content hr{
    margin: 0rem;
}
.about-text p{
    font-size: 15px;
    padding: 7px 10px 10px 13px;
}
@media (min-width:320px) and (max-width:767px){
    .card-input .form-label{
        text-align: left;
    }
}


.year-range select{
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
   
}
.month-range select{
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
   
}